<div class="jumbotron">
	<h1><%= image_tag("twilio.svg", :class => "twilio_image") %> A Simple Twilio App by Joel <%= image_tag("twilio.svg", :class => "twilio_image") %></h1>
</div>

<div class="col-xs-8 col-xs-offset-2 col-md-offset-4 col-md-4">
	<div class="greeting">
		<p>Welcome! This is a simple web app I built using the Twilio REST API. Enter you name and phone number in the form below, and you will recieve a text message with a link to my resume! Don't worry, no data will be saved</p>
	</div>
	<div class = "form-group">
		<%= form_tag("/static_pages/sendtext", method: "get") do %>
	  		<%= label_tag(:name, "Name:") %>
	  		<%= text_field_tag(:name, "", :class => 'form-control') %>
	  		<br>
	  		<%= label_tag(:phone, "Enter Your Cell Number:") %>
	  		<%= text_field_tag(:phone, "", :class => 'form-control', :type => "tel", :minlength => 10) %>
	  		<br>
	  		<%= submit_tag("Get Resume", :class => 'btn btn-default') %>
		<% end %>
	</div>
</div>
