<div class="jumbotron">
	<h1><%= image_tag("twilio.svg", :class => "twilio_image") %> A Simple Twilio App by Joel <%= image_tag("twilio.svg", :class => "twilio_image") %></h1>
</div>

<div class="col-md-offset-3 col-md-6">
	<%= form_tag("/static_pages/sendtext", method: "get") do %>
  		<%= label_tag(:phone, "Enter Your Cell Number:") %>
  		<%= text_field_tag(:phone) %>
  		<%= submit_tag("Get Resume") %>
	<% end %>
</div>
